/* Adapted from https://stackoverflow.com/a/22907848/18309216 */
#imgStack::-webkit-scrollbar {
  -webkit-appearance: none;
}

#imgStack::-webkit-scrollbar:vertical {
  width: 10px;
}

#imgStack::-webkit-scrollbar:horizontal {
  height: 10px;
}

#imgStack::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
}

#imgStack::-webkit-scrollbar-track {
  border-radius: 10px;
}
